

</div>
</div>
</div>
</div>


<script src="/user/js/fetcher.js"></script>

<!-- JAVASCRIPT -->
<script src="/user/libs/jquery/jquery.min.js"></script>
<script src="/user/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/libs/metismenu/metisMenu.min.js"></script>
<script src="/user/libs/simplebar/simplebar.min.js"></script>
<script src="/user/libs/node-waves/waves.min.js"></script>

<!-- App js -->
<script src="/user/js/app.js"></script>
<script src="/user/js/lib/cute-alert.js"></script>

<%-websiteDetails.website_footer_code%>
</body>

</html>