<%-include("../partials/header")%>
<link rel="stylesheet" href="/user/js/lib/style.css">

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 font-size-18"><%=title%></h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

    <center>
        <div class="checkout-tabs">
            <div class="row">

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="space border-bottom-light">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                <div class="section-title reveal text-center mb-80 reveal">
                    <h3 class="mb-3">Check Bypluse-Pin Availability</h3>
                </div>
                <!-- end of section title -->
            </div>
        </div>

        <!-- end of col -->
        <div class="row">
            <div class="col-12 col-lg-8 mx-auto">
                <form id="checker" class="form form--sm">
                    <form>
                        <div class="mb-3">
                            <label for="name" class="form-label">Bypluse-Pin</label>
                            <input type="text" placeholder="Enter Bypluse-Pin Here" class="form-control" id="name" required>
                        </div>
                    
                    
                        <div>
                            <button id="submit" type="submit" class="btn btn-primary w-md btn-lg">Go</button>
                        </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </center>

    </div> <!-- container-fluid -->
</div>

<script src="/user/js/lib/cute-alert.js"></script>
<script src="/user/js/fetcher.js"></script>
<script src="/home/js/checker.js"></script>
<%-include("../partials/footer")%>